<div class="topnav">
        <a class="active" href="/">ClicheCliche&Cliche</a>
        <div class="dropdown">
            <button class="dropbtn">Most Common
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/more">The ticking clock</a>
                <a href="/more">“They’re behind me, aren’t they?”</a>
                <a href="/more">Villains with terrible accuracy</a>
                <a href="/more">Guns never run out of ammo</a>
                <a href="/more">Shot in the shoulder</a>
                <div class="vl"></div>
                <a href="/more">It’s just a cat</a>
                <a href="/more">“Hot, but doesn’t know it.”</a>
                <a href="/more">Dream conveys plot information</a>
                <div class="vl"></div>
                <a href="/more">Cutting hair to convey trauma</a>
                <a href="/more">Enhance</a>
                <div class="vl"></div>
                <a href="/more">“We’ve got company.”</a>
                <a href="/more">The medicine cabinet reflection</a>
                <div class="vl"></div>
                <a href="/more">“Don’t die on me!”</a>
                <a href="/more">Any kind of hacking</a>
                <a href="/more">“I’ve got a bad feeling about this.”</a>
                <a href="/more">“English, please!”</a>
            </div>
        </div>
        <div class="other">
            <a href="/movies">Movies</a>
            <a href="/more">More</a>
        </div>

        <input type="text" placeholder="Even more cliches..." name="search">
    </div>