body {
  background-color: #313131;
  font-family: "Times New Roman", Times, serif;
}

/* Add a black background color to the top navigation bar */
.topnav {
  border-style: solid;
  border-width: 1px;
  border-color: #f39121;
  overflow: hidden;
  background-color: #ddd;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  font-size: 25px;
  background-color: #f39121;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 11px;
  margin-right: 16px;
  font-size: 15px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown button:hover {
  background-color: #ddd;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  column-count: 4;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.list {
  font-size: x-large;
  column-count: 3;
}
.list a {
  color: white;
  text-decoration: none;
}
.list a:hover {
  color: white;
  background-color: #f39121;
}

.vl {
  border-left: 1px solid #f39121;
  position: absolute;
  height: 130px;
  top: 21px;
  margin-left: -15px;
}

.maintable {
  margin-top: 10px;
  color: #ddd;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 5px solid white;
}

.list h1 {
  color: white;
}

.movie_table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.movie_table li p {
  background-color: #ddd;
}

/**/ /**/ /**/ /**/
/* .movie_table li a img {
  height: 75%;
  width: 75%;
} */
.movie_table {
  background-color: #ddd;
}

.head_text {
  text-align: center;
  color: white;
  font-family: "Lucida Calligraphy";
  opacity: 0.8;
}

.jaws {
  margin-top: 2%;
  margin-left: 5%;
}

.j_container {
  background-color: #ddd;
  margin-top: 5%;
}

.jaws tr td ul li {
  font-size: 30px;
  color: black;
}

.other a:focus {
  background-color: #f39121;
  color: white;
  margin-top: 3px;
}
