{{#each cliches}}
<h1 class="head_text">{{cliches.name}}</h1>

        {{/each}}
    <table class="movie_table">
        
        <tr>
            <th><a href="movies.html#the_fisher_king"><img
                        src="https://m.media-amazon.com/images/M/MV5BOGZmMDM1NTQtMzc0Yi00ODRiLWJjYjQtMGRmYWRlOTY2ODMxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_QL75_UX380_CR0,4,380,562_.jpg">
                </a>
            </th>
            <th>
                <a href="movies.html#agent_cody_banks_2"><img
                        src="https://m.media-amazon.com/images/M/MV5BMjE4NDg4MDgxNF5BMl5BanBnXkFtZTcwMTc3NTQyMQ@@._V1_QL75_UX380_CR0,0,380,562_.jpg">
                </a>
            </th>
            <th>
                <a href="movies.html#sniper_2"><img
                        src="https://m.media-amazon.com/images/M/MV5BODNmM2FiZDQtMjA0MS00MTk0LTk5ZmUtYjBlMjRiNzYyZDE0XkEyXkFqcGdeQXVyNDA4OTExNDU@._V1_QL75_UX380_CR0,4,380,562_.jpg">
                </a>
            </th>
        </tr>

        <tr>
            <th><a href="movies.html#shadow_conspiracy"><img
                        src="https://m.media-amazon.com/images/M/MV5BNWUwNWVlMzktMTg2YS00MzJiLTgzZjctMDY3MmJmM2M1MTIxXkEyXkFqcGdeQXVyNDAxNjkxNjQ@._V1_QL75_UX380_CR0,0,380,562_.jpg"></a>
            </th>
            <th><a href="movies.html#mercenary_for_justice"><img
                        src="https://m.media-amazon.com/images/M/MV5BMWRlMmI4NDAtOWQ4ZS00N2U0LWJlOGYtNTU4NzViNTU4YTc5XkEyXkFqcGdeQXVyNjQ2MjQ5NzM@._V1_QL75_UX380_CR0,4,380,562_.jpg"></a>
            </th>
            <th><a href="movies.html#where_eagles_dare"><img
                        src="https://m.media-amazon.com/images/M/MV5BNGE3ZWZiNzktMDIyOC00ZmVhLThjZTktZjQ5NjI4NGVhMDBlXkEyXkFqcGdeQXVyMjI4MjA5MzA@._V1_QL75_UX380_CR0,2,380,562_.jpg"></a>
            </th>
        </tr>

    </table>