    <h1 class="head_text">Cliché: a phrase or opinion that is overused and betrays a lack of original thought.</h1>


    <table class="maintable">
        <tr>
            <th>
                <h2>Latest</h2>
            </th>
            <th>
                <h2>Random</h2>
            </th>
        </tr>
        <tr>
            <td><a href="/movies/{{_id}}"><img
                        src="https://m.media-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_QL75_UX380_CR0,10,380,562_.jpg"></a>
            </td>
            <td><a href="/movies/{{_id}}"><img
                        src="https://m.media-amazon.com/images/M/MV5BNzFjZmM1ODgtMDBkMS00NWFlLTg2YmUtZjc3ZTgxMjE1OTI2L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_QL75_UX380_CR0,11,380,562_.jpg"></a>
            </td>
        </tr>
        <tr>
            <td>
                <li>{{name}}</li>
            </td>
            <td>
                <li>{{name}}</li>
            </td>
        </tr>
    </table>